footer
    background $cinzaClaro
    color #fff
    padding 25px 0
    .center
        display flex
        +mobile()
            display block
    .links
        margin-right auto
        a
            display block
            montserrat 12
            text-transform uppercase
            + a
                margin-top 4px
            &:hover
                color #000
            +mobile()
                display none
    .marca
        margin 0 auto
        img
            display block
            margin-bottom 12px
        .social
            text-align center
            font-size 0
            a
                display inline-block
                width 17px
                height 17px
                text-indent -9999px
                &.facebook
                    background $img('facebook.png') no-repeat center
                &.instagram
                    background $img('instagram.png') no-repeat center
                + a
                    margin-left 4px
        +mobile()
            margin 0 0 20px
            img
                display none
            .social
                text-align left
    .informacoes
        margin-left auto
        text-align right
        p.endereco
            opensans 12
            margin 0 0 30px
        p.copyright
            opensans 10
            margin 0
            a:hover
                color #000
        +mobile()
            margin 0
            text-align left
