header
    width 100%
    height 100px
    background $cinzaEscuro
    .center
        height 100%
    .logo
        width 182px
        height 100%
        float left
        background $img('villa-a-221.png') no-repeat left center
        background-size 152px auto
        text-indent -9999px
    &.home
        +above($tablet)
            position absolute
            top 0
            left 0
            background transparent
            z-index 102
            .logo
                background-size 100% auto
            nav
            .logo
                position relative
                z-index 102
            &:after
                content ''
                position absolute
                background-image linear-gradient(180deg, $cinzaEscuro, transparent)
                width 100%
                height 200px
                left 0
                top 0
                z-index 101
    #nav-desktop
        float right
        heigth 100%
        font-size 0
        +below($tablet)
            display none
        > a
            display inline-block
            vertical-align middle
            line-height 100px
            montserrat 12 semi
            text-transform uppercase
            color #fff
            margin-right 42px
            position relative
            &:after
                content ''
                position absolute
                width 0
                height 2px
                left 50%
                top 64px
                transform translateX(-50%)
                background #fff
                transition all .3s
            &:hover:after
            &.active:after
                width 42px
        .social
            display inline-block
            vertical-align middle
            a
                display inline-block
                width 17px
                height 17px
                text-indent -9999px
                &.facebook
                    background $img('facebook.png') no-repeat center
                &.instagram
                    background $img('instagram.png') no-repeat center
                + a
                    margin-left 4px
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        position absolute
        right 0
        top 36px
        height 28px
        width 28px
        outline 0
        padding 0
        cursor pointer
        .lines
            display block
            width 100%
            height 3px
            background #fff
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 3px
                background #fff
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    #nav-mobile
        +above($tablet)
            display none !important
        display none
        position absolute
        background rgba($cinzaClaro, .9)
        width 100%
        top 100px
        text-align center
        padding 25px 0
        z-index 102
        border-bottom 2px solid darken($cinzaClaro, 5)
        > a
            display block
            montserrat 13 semi
            color #fff
            text-transform uppercase
            + a
                margin-top 6px
            &.active
                color #000
        .social
            display block
            margin-top 20px
            font-size 0
            text-align center
            a
                display inline-block
                width 17px
                height 17px
                text-indent -9999px
                &.facebook
                    background $img('facebook.png') no-repeat center
                &.instagram
                    background $img('instagram.png') no-repeat center
                + a
                    margin-left 4px
