desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$cinzaClaro  = #7F7F7F
$cinzaEscuro = #363636

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Open+Sans:400,700')

montserrat($size, $weight = normal)
    font-size $size + 0px
    font-family 'Montserrat', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == semi
        font-weight 600
    if $weight == bold
        font-weight 700

opensans($size, $weight = normal)
    font-size $size + 0px
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == bold
        font-weight 700
