.comodidades
    .titulo
        background $cinzaClaro
        padding 80px 0
        text-align center
        montserrat 42 bold
        color #fff
        line-height 1
    .icones
        margin 70px auto
        display flex
        flex-wrap wrap
        > div
            width 25%
            background #F5F5F5
            border 2px solid #fff
            text-align center
            padding 50px
            img
                display block
                max-width 100%
                margin 0 auto 25px
            span
                opensans 14
                color $cinzaEscuro
    +tablet()
        .titulo
            padding 60px 0
            font-size 32px
        .icones
            margin 50px auto
            > div
                width 33.333%
                padding 30px
                img
                    margin-bottom 20px
    +mobile()
        .titulo
            padding 35px 0
            font-size 20px
        .icones
            margin 25px auto
            > div
                width 50%
                padding 20px
                img
                    margin-bottom 10px
                span
                    font-size 12px
