.comunidade
    padding-bottom 60px
    +tablet()
        padding-bottom 40px
    +mobile()
        padding-bottom 25px
    .abertura
        color $cinzaEscuro
        text-align center
        padding 50px 0
        *:first-child
            margin-top 0
        *:last-child
            margin-bottom 0
        h2
            opensans 16 bold
            margin 1.5em 0 1em
        p
            opensans 16
            margin-left auto
            margin-right auto
            max-width 670px
        +tablet()
            padding 40px 0
            h2
            p
                font-size 15px
        +mobile()
            padding 25px 0
            text-align left
            h2
            p
                font-size 14px
    .linha
        clearfix()
        img
        .texto
            width 50%
        .texto
            padding 4%
            color #fff
            text-align center
            *:first-child
                margin-top 0
            *:last-child
                margin-bottom 0
            h2
                montserrat 28 bold
                margin 1.5em 0 1em
            p
                opensans 16
        &:nth-child(1)
            background #444444
            img
                float left
            .texto
                float right
        &:nth-child(2)
            background #5B5B5B
            img
                float right
            .texto
                float left
        +tablet()
            img
            .texto
                h2
                    font-size 20px
                p
                    font-size 15px
        +mobile()
            .texto
                width 100%
            img
                width auto
                max-width 100%
            .texto
                text-align left
                padding 25px 0 35px
                h2
                    font-size 18px
                p
                    font-size 14px
