.conceito
    .imagens
        width 100%
        display block
        background #fff
        clearfix()
        img
            width calc('33.333% - 1.333px')
            float left
            &:nth-child(2)
                margin 0 2px
    .texto
        margin 45px auto 90px
        color $cinzaEscuro
        *:first-child
            margin-top 0
        *:last-child
            margin-bottom 0
        h2
            montserrat 29 bold
            margin 1.5em 0 1em
        p
            opensans 16
        +tablet()
            margin 35px auto 70px
            h2
                font-size 24px
            p
                font-size 15px
        +mobile()
            margin 25px auto 50px
            h2
                font-size 20px
            p
                font-size 14px
