.contato
    padding-bottom 70px
    +tablet()
        padding-bottom 40px
    +mobile()
        padding-bottom 25px
    .center
        clearfix()
        padding 70px 0
        +tablet()
            padding 40px 0
        +mobile()
            padding 25px 0
    .endereco
        width 37.5%
        float left
        p
            margin 60px 0 0
            opensans 16
            color $cinzaEscuro
        +tablet()
            width 36%
            p
                font-size 15px
                margin-top 50px
        +mobile()
            width 100%
            margin-bottom 25px
            p
                font-size 14px
                margin 0
    form
        width 58.5%
        float right
        color $cinzaEscuro
        h2
            montserrat 32 bold
            margin 0
        p
            opensans 16
            margin 1.5em 0
        +tablet()
            width 60%
            h2
                font-size 24px
            p
                font-size 15px
        +mobile()
            width 100%
            h2
                font-size 20px
            p
                font-size 14px
        .aviso
            display block
            padding 15px
            border-radius 4px
            opensans 12
            text-align center
            text-transform uppercase
            letter-spacing .5px
            margin-bottom 10px
            +mobile()
                letter-spacing 0
                padding 12px
            &.erros
                border 1px solid #D75B5B
                background rgba(#D75B5B, .3)
                color darken(#D75B5B, 5)
            &.enviado
                border 1px solid #5BD77E
                background rgba(#5BD77E, .3)
                color darken(#5BD77E, 20)
                font-weight 700
        .row
            width 100%
            clearfix()
            + .row
                margin-top 4px
            input
                width calc('50% - 2px')
                float left
                + input
                    float right
                +mobile()
                    width 100%
                    + input
                        margin-top 4px
            input
            textarea
                display block
                border 1px solid rgba($cinzaClaro, .5)
                opensans 14
                color $cinzaEscuro
                outline 0
            input
                height 28px
                padding 0 8px
            textarea
                height 100px
                resize none
                padding 8px
                width 100%
        input[type=submit]
            display inline-block
            margin-top 10px
            background $cinzaEscuro
            color #fff
            montserrat 20 bold
            cursor pointer
            transition background .3s
            border 0
            padding 18px 60px
            outline 0
            &:hover
                background $cinzaClaro
            +mobile()
                width 100%
                display block
                text-align center
                padding 15px 0
                font-size 18px
    .mapa
        width 100%
        height 500px
        iframe
            display block
            width 100%
            height 100%
        +tablet()
            height 350px
        +mobile()
            height 250px
