.espacos
    .abertura
        text-align center
        color $cinzaEscuro
        padding 90px 0
        h2
            montserrat 42 bold
            margin 0 0 1em
        p
            opensans 16
            margin 0 auto
            max-width 670px
            + p
                margin-top 1em
        +tablet()
            padding 70px 0
            h2
                font-size 36px
            p
                font-size 15px
        +mobile()
            padding 35px 0
            text-align left
            h2
                font-size 24px
            p
                font-size 14px
    .espacos-lista
        .espaco
            .titulo
                background $cinzaClaro
                padding 45px 0
                text-align center
                montserrat 36 bold
                color #fff
                line-height 1.2
                h3
                    margin 0
                +tablet()
                    padding 30px 0
                    font-size 30px
                +mobile()
                    padding 15px 0
                    font-size 18px
                    text-align left
            .texto
                color $cinzaEscuro
                text-align center
                padding 60px 0
                p
                    opensans 16
                    margin 0 auto
                    max-width 670px
                    + p
                        margin-top 1em
                +tablet()
                    padding 40px 0
                    p
                        font-size 15px
                +mobile()
                    padding 20px 0
                    text-align left
                    p
                        font-size 14px
            .imagens
                clearfix()
                padding-bottom 90px
                img
                    width 48%
                    float left
                    display block
                    margin-bottom 4%
                    &:nth-child(2n)
                        margin-left 4%
                +tablet()
                    padding-bottom 60px
                +mobile()
                    padding-bottom 35px
