.banners
    width 100%
    height 660px
    position relative
    .banner
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        background-size cover
        background-position center
        .center
            height 100%
        .texto
            position absolute
            width 100%
            height 100%
            display flex
            align-items center
            justify-content center
            text-align center
            span
                montserrat 36 semi
                color #fff
                text-shadow 0 2px 0 rgba(#000, .5)
    +tablet()
        height 450px
        .banner .texto
            span
                font-size 24px
    +mobile()
        height 300px
        .banner .texto
            span
                font-size 18px
                text-shadow 0 1px 0 rgba(#000, .5)

.chamadas
    margin 60px 0
    font-size 0
    a.chamada:hover
        color $cinzaClaro
    .chamada
        display inline-block
        width 48%
        vertical-align top
        margin-bottom 45px
        text-align center
        color $cinzaEscuro
        transition color .3s
        &:nth-child(2n)
            margin-left 4%
        img
            width 100%
            display block
        h3
            montserrat 29 bold
            margin .68em 0 .51em
        p
            margin 0
            opensans 16
    +tablet()
        margin 50px 0
        .chamada
            margin-bottom 35px
            h3
                font-size 24px
            p
                font-size 15px
    +mobile()
        margin 35px 0
        .chamada
            width 100%
            margin-bottom 25px
            margin-left 0 !important
            h3
                font-size 17px
            p
                font-size 13px
