.localizacao
    padding-bottom 70px
    +tablet()
        padding-bottom 40px
    +mobile()
        padding-bottom 25px
    .texto
        text-align center
        color $cinzaEscuro
        padding 70px 0
        *:first-child
            margin-top 0
        *:last-child
            margin-bottom 0
        h2
            montserrat 29 bold
            margin 1.5em 0 1em
        p
            opensans 16
            max-width 670px
            margin-left auto
            margin-right auto
        +tablet()
            padding 45px 0
            h2
                font-size 24px
            p
                font-size 15px
        +mobile()
            padding 25px 0
            text-align left
            h2
                font-size 20px
            p
                font-size 14px
    .mapa
        width 100%
        height 500px
        iframe
            display block
            width 100%
            height 100%
        +tablet()
            height 350px
        +mobile()
            height 250px
    .imagens
        width 100%
        display block
        background #fff
        clearfix()
        img
            width calc('33.333% - 1.333px')
            float left
            &:nth-child(2)
                margin 0 2px
