.quem-somos
    .abertura
        background $cinzaClaro
        .center
            clearfix()
        img
        .texto
            width 48%
        img
            float right
        .texto
            float left
            color #fff
        +tablet()
            img
                width 40%
            .texto
                width 56%
        +mobile()
            .texto
                width 100%
                padding 25px 0 35px
            img
                width auto
                max-width 100%
                float left
    .texto
        color $cinzaEscuro
        padding 55px 0
        *:first-child
            margin-top 0
        *:last-child
            margin-bottom 0
        h2
            montserrat 29 bold
            margin 1.5em 0 1em
        p
            opensans 16
        +tablet()
            padding 30px 0
            h2
                font-size 24px
            p
                font-size 15px
        +mobile()
            padding 20px 0
            h2
                font-size 20px
            p
                font-size 14px
    .imagens
        clearfix()
        padding-bottom 70px
        img
            width 48%
            float left
            display block
            margin-bottom 4%
            &:nth-child(2n)
                margin-left 4%
        +tablet()
            padding-bottom 40px
        +mobile()
            padding-bottom 15px
